.figure-container { 
border: 1px solid #ddd; 
padding: 10px; 
border-radius: 8px; 
transition: transform 0.3s; 
text-align: center; 
 
} 
 
 
.input-container input { 
width: 100%; 
padding: 10px; 
font-size: 16px; 
border: 2px solid #ccc; 
border-radius: 5px; 
outline: none; 
transition: border-color 0.3s; 
} 
 
 
button{ 
background-color: blue; 
}

body{ 
display: flex; 
justify-content: center; 
align-items: center; 
} 
 
 
.figure-container:hover { 
transform: scale(1.05); 
} 
 
 
.figure-image { 
width: 150px; 
height: 150px; 
object-fit: cover; 
} 
 
 
.figure-caption { 
font-weight: bold; 
} 
 
 
.delete-btn { 
background-color: red; 
color: white; 
border: none; 
padding: 5px; 
cursor: pointer; 
margin-top: 5px; 
} 
 
 
.delete-btn:hover { 
background-color: darkred; 
}
